# Copyright (c) 2022 Microsoft Corporation. All rights reserved.
# Software is licensed under the MIT License. See LICENSE in the project
# root for license information.

# Order is important. Place least specific rules first and most specific last. 

# Global owners. These are default owners unless a later match takes precedence. 

# Matching-pattern owners
*.js @micholas
*.ts @micholas
*.cs @scschneider @srajtiwari
*.bicep @scschneider @srajtiwari 

# Directory owners
/tcp-to-blob/                @micholas
/orbital-helper/             @micholas
/central-logging/            @scschneider
/blob-download-service/      @scschneider
/aqua-processor/             @scschneider
/.github/workflows/          @CheyYeary

# File owners
