# Copyright (c) 2022 Microsoft Corporation. All rights reserved.
# Software is licensed under the MIT License. See LICENSE in the project
# root for license information.

# Order is important. Place least specific rules first and most specific last. 

# Global owners. These are default owners unless a later match takes precedence. 
* @karthick-rn @CheyYeary @micholas @scschneider @srajtiwari @jfrazee
# Matching-pattern owners
*.js @micholas @karthick-rn
*.ts @micholas @karthick-rn
*.cs @scschneider @srajtiwari @karthick-rn
*.bicep @scschneider @srajtiwari  @CheyYeary @karthick-rn
